body{
    margin:5px;
    background-color: rgba(209, 209, 209, 0.795);
    align-items: center;
    text-align: center;
}

.textobody{
    color:rgb(100, 0, 0);
}

button{
    width: 500px;
    padding: 10px;
    border: none;
    text-align: center;
    background-color: rgb(66, 0, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 3px;
}

button:hover{
    background-color: rgb(100, 0, 0);

}

.legend{
    margin-top:2px;
    width:225px;
}

.date{
    margin-top:2px;
    width:225px;
    text-align: center;
}


.text {
    width: 600px;
    height: 250px;
    align-items: center;
    text-align: center;
    border: 1px solid;
    background-color:rgba(209, 209, 209, 0.795);
    margin-right: auto;
    margin-left: auto;
}

.text2 {
    width: 600px;
    height: 300px;
    align-items: center;
    text-align: center;
    border: 1px solid;
    background-color:rgba(209, 209, 209, 0.795);
    margin-right: auto;
    margin-left: auto;
}